.hero {
  &__heading {
    font-family: "Courier New", Courier, monospace;
  }

  &__image{
    width: 600px;
    height: 600px;
      }

  &__subheading{
    font-family: "Courier New", Courier, monospace;
  }

   
}
